# This file is a template, and might need editing before it works on your project.
# use the official gcc image, based on debian
# can use verions as well, like gcc:5.2
# see https://hub.docker.com/_/gcc/
image: coenvl/googletest

build_local:
  stage: build
  script:
    - make test
  artifacts:
    paths:
      - OSO

# run tests using the binary built before
test_local:
  stage: test
  script:
    - make run
  dependencies:
    - build_local